* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* FONTS */
/* font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive; */


#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 2;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .7);
    transition: .3s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    line-height: 120%;
    text-decoration: none;
    color: #fff;
}


#menuIcon {
    width: 50px;
    right: 65px;
    top: 35px;
    position: fixed;
    cursor: pointer;
    z-index: 2;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px;
}

header {
    height: 100vh;
    background-image: url(picture1.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    margin: 30px 0;
    width: 70px;
}

.header-text {
    max-width: 650px;
    margin-top: 140px;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 70px;
    color: #fff;
    opacity: 0.8;
}

h2 {
    font-size: 50px;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 20px;
}

h3 {
   font-weight: 500;
}

.header-description {
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
    margin-top: 20px;
}

#company {
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col,
.house-right-col {
    flex-basis: 50%;
}

.about-left-col img,
.house-right-col img{
    width: 100%;
}

.about-us,
.about-house {
    max-width: 500px;
    margin: 0 100px;
    display: inline-block;
}

.about-house {
    margin: 0 100px 0 200px;
}

#house {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col {
    flex-basis: 25%;
    text-align: center;
}

.col img {
    width: 60px;
    margin: 20px 0;
}

.col h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

button {
    font-weight: 300;
    font-size: 20px;
    margin: 80px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: white;
    background-color:#236b5b;
    border: none;
    transition: .3s;
    border-radius: 20px;
}

button:hover {
    background-color: rgba(35, 107, 91, 0.8)
}

footer {
    height: 310px;
    background-color:#236b5b;
    margin-top: 60px;
}


.social-icons img {
    display: inline-block;
    width: 25px;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
}

.col-footer {
    margin: 60px 0;
    color: #fff;
    text-align: left;
}

.credits {
    text-align: center;
}

.autor {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.autor:hover {
    color: rgba(0, 0, 0, .7);
}


/* MOBILE  */

@media screen and (max-width: 770px) {

    /* HEADER*/
    .container {
        margin: 0 50px 0 50px;
    }

    header {
        background-image: none;
    }

    h1 {
        color: black;
        font-size: 24px;
    }

    .header-description {
        color: black;
        font-size: 14px;
    }

    .logo {
        margin-top: 27px;
        width: 70px;
    }
    
    .header-text {
        margin-top: 100px;
    }

    #menuIcon {
        width: 35px;
        right: 20px;
    }
    

    /* ABOUT US */
    #company {
        padding: 0;
    }

    /* ABOUT HOUSE */
    .about-left-col,
    .house-right-col
    .about-left-col,
    .house-right-col {
        flex-basis: 100%;
     }

     .about-us,
     .about-house {
        max-width: 100%;
        margin: 40px;
        display: inline-block;
}
    h2 {
        font-size: 40px;
    }

    .row {
        width: 100%;
    }

    .col {
        flex-basis: 100%;
        margin: 10px 40px;
    }

    .col img {
        width: 40px;
        margin-top: 40px;
    }

    /* BUTTON */
    button {
        font-size: 15px;
        margin: 70px auto 0;
      
    }

    /* FOOTER */
    footer {
        height: 100vh;
        background-color:#236b5b;
        padding: 40px;
    }
    
    
    .social-icons img {
        display: inline-block;
        width: 25px;
        margin-right: 15px;
        cursor: pointer;
        text-align: center;
    }
    
    .col-footer {
        margin: 30px 40px 0 30px;
    }
    
    .credits,
    .autor {
        font-size: 12px;
        margin-top: 70px;
    }
    
}